src/main/resources/WEB-INF/wsdl/erb-invoicedelivery-200.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
This file was automatically generated by ph-wsdl-gen
https://github.com/phax/ph-wsdl-gen
-->
<wsdl:definitions targetNamespace="http://erb.eproc.brz.gv.at/ws/invoicedelivery/201306/" name="WSInvoiceDeliveryService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://erb.eproc.brz.gv.at/ws/invoicedelivery/201306/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <wsdl:documentation>Defines the operations for uploading an invoice to ER&gt;B
    Author: Philip Helger, Bundesrechenzentrum GmbH
    Version: 2.0.0
    Last Update: 2013-12-10
    
    History: 
      2.0.0: Complete rewrite
      1.2.0: All changes compared to 1.1.0 are marked with [CHANGE120]
      1.1.0: All changes compared to 1.0.0 are marked with [CHANGE110]
             Global changes:
               using elementFormDefault=qualified
      1.0.0: Initial version
  </wsdl:documentation>
  <wsdl:types>
    <xs:schema targetNamespace="http://erb.eproc.brz.gv.at/ws/invoicedelivery/201306/" elementFormDefault="qualified">
      <xs:simpleType name="DeliveryHashAlgorithmType">
        <xs:annotation>
          <xs:documentation>Defines the possible hash algorithm types</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="MD5" />
          <xs:enumeration value="SHA-1" />
          <xs:enumeration value="SHA-256" />
          <xs:enumeration value="SHA-384" />
          <xs:enumeration value="SHA-512" />
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="DeliveryPropertyType">
        <xs:simpleContent>
          <xs:extension base="xs:string">
            <xs:attribute name="name" type="xs:string" use="required">
              <xs:annotation>
                <xs:documentation>The name of this property.
Must be unique within all properties.</xs:documentation>
              </xs:annotation>
            </xs:attribute>
          </xs:extension>
        </xs:simpleContent>
      </xs:complexType>
      <xs:complexType name="DeliveryInvoiceType">
        <xs:annotation>
          <xs:documentation>This contains the main invoice XML to be delivered.
As ER&gt;B supports multiple formats, and we can&#39;t tell whether it 
will always be XML, the content must be base64Binary encoded.
It is important that the XML document declaration
&lt;?xml version=&quot;...&quot; encoding=&quot;...&quot;?&gt;
is contained in the binary encoded data!</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
          <xs:extension base="xs:base64Binary">
            <xs:attribute name="encoding" type="xs:string" default="UTF-8" use="optional">
              <xs:annotation>
                <xs:documentation>The encoding of the Base64 String. Should be identical to the content encoding.
Default is UTF-8.
If an unknown encoding is provided, the invoice delivery is rejected.</xs:documentation>
              </xs:annotation>
            </xs:attribute>
          </xs:extension>
        </xs:simpleContent>
      </xs:complexType>
      <xs:complexType name="DeliveryEmbeddedAttachmentType">
        <xs:annotation>
          <xs:documentation>An attachment that is directly delivered with the invoice.</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
          <xs:extension base="xs:base64Binary">
            <xs:attribute name="name" type="xs:string" use="required">
              <xs:annotation>
                <xs:documentation>The filename of this attachment.
It should not contain any path element!
It must have a supported file extension (like &#39;.pdf&#39;).</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="encoding" type="xs:string" use="optional">
              <xs:annotation>
                <xs:documentation>The original encoding of the document before it was Base64 
encoded.
This is only relevant for text attachments (like XML).
If an unknown encoding is provided, the invoice delivery is rejected.
If a text attachment is provided (by the determined content type) and
no encoding is present, the invoice delivery is rejected.</xs:documentation>
              </xs:annotation>
            </xs:attribute>
          </xs:extension>
        </xs:simpleContent>
      </xs:complexType>
      <xs:complexType name="DeliveryExternalAttachmentType">
        <xs:annotation>
          <xs:documentation>An attachment that is available externally.
!!!This is not yet supported!!!</xs:documentation>
        </xs:annotation>
        <xs:sequence />
        <xs:attribute name="uri" type="xs:anyURI" use="required">
          <xs:annotation>
            <xs:documentation>The URI/URL where the attachment resides.
This URL must be publicly accessible.
No username or password must be required to access it.
Only http and https URLs are allowed.
It must have a supported file extension (like &#39;.pdf&#39;).
The filename part of the URL is used as the attachment 
name so please provide usable filenames.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="musthave" type="xs:boolean" use="required">
          <xs:annotation>
            <xs:documentation>As there are many ways how the download of an external document
can fail, this flags specifies whether the download of the
document is mandatory or not.
If this flag is set to &#39;true&#39; and the content could not be
retrieved, than the invoice delivery will fail.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="encoding" type="xs:string" use="optional">
          <xs:annotation>
            <xs:documentation>The original encoding of the document.
This is only relevant for text attachments (like XML).
If an unknown encoding is provided, the invoice delivery is rejected.
If a text attachment is provided (by the determined content type) and
no encoding is present, the invoice delivery is rejected.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="size" type="xs:unsignedInt" use="optional">
          <xs:annotation>
            <xs:documentation>The size of the document in bytes.
This value is only used to verify that the retrieval of the content
succeeded.
If this attribute is present, and the results differ, the
invoice is rejected.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="hashalgo" type="tns:DeliveryHashAlgorithmType" use="optional">
          <xs:annotation>
            <xs:documentation>The algorithm used to calculate the hash value.
Must be present if a hash value is set.
This value is only used to verify that the retrieval of the content
succeeded.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="hashvalue" type="xs:string" use="optional">
          <xs:annotation>
            <xs:documentation>The hash value of the document byte stream calculated with 
the algorithm specified in the &#39;hashalgo&#39; attribute.
This value is only used to verify that the retrieval of the content
succeeded.
If this attribute is present, and the results differ, the
invoice is rejected.
The hash value must be present as a hex-encoded string.
Example: byte 1 encoded as &#39;01&#39;, byte 255 encoded as &#39;ff&#39; etc.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:complexType>
      <xs:complexType name="DeliveryCallbackType">
        <xs:sequence>
          <xs:element name="PassThrough" type="tns:DeliveryPropertyType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Optional properties to be passed back in the asynchronous
callback Webservice.
This may contain some unique keys or identification
properties for the invoice deliverer to match the callback
invocation to the original request.
These properties are passed in success and in error case.
Property names must be unique! If not later definitions
overwrite previous definitions without further notice.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="url" type="xs:anyURI" use="required">
          <xs:annotation>
            <xs:documentation>URL of the Webservice endpoint that should be invoked 
to send the invoice delivery status to. 
If this value is not present, or if the Webservice at the URL
is not reachable, an email containing the invoice delivery
status is sent instead.
The WSDL service description that the this URL must implement
is located in the file &#39;erb-invoicedelivery-callback-*.wsdl&#39;.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="version" type="xs:string" use="required">
          <xs:annotation>
            <xs:documentation>Represents the version of the callback service that should be
invoked.
The initial version of the callback has version &#39;100&#39;.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="soapaction" type="xs:string" use="optional">
          <xs:annotation>
            <xs:documentation>If a SOAPAction is required in the invoice delivery status
it must be specified here. If this attribute is missing or
empty, no SOAPAction will be specified in the call.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:complexType>
      <xs:complexType name="DeliveryEmailSettingsType">
        <xs:annotation>
          <xs:documentation>Email settings to be used for the response to this service call.
These settings are only used if no Callback is provided or if the
invocation of the Callback fails.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="AlternateResponseEmail" type="xs:string" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Overwrite the response email addresses specified in the invoice.
Only one email address may be provided per element!
If this field is present and does not contain a valid email
address (by means of a regular expression) the invoice delivery
is rejected!</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AdditionalResponseEmail" type="xs:string" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Add response email addresses to the ones specified in the invoice.
Only one email address may be provided per element!
If AlternateResponseEmail elements are present, they have precedence
over the additional response email addresses. 
If this field is present and does not contain a valid email
address (by means of a regular expression) the invoice delivery
is rejected!</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ResponseEmailCC" type="xs:string" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Add response CC email addresses.
Only one email address may be provided per element!
Email addresses specified here are used independent if 
AlternateResponseEmail or AdditionalResponseEmail elements are present.
If this field is present and does not contain a valid email
address (by means of a regular expression) the invoice delivery
is rejected!</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ResponseEmailBCC" type="xs:string" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Add response BCC email addresses.
Only one email address may be provided per element!
Email addresses specified here are used independent if 
AlternateResponseEmail or AdditionalResponseEmail elements are present.
If this field is present and does not contain a valid email
address (by means of a regular expression) the invoice delivery
is rejected!</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SubjectPrefix" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>A special prefix to be used for the email subject.
This should allow for easy filtering of email messages from ER&gt;B.
This prefix is added AFTER the default &#39;[ERB] &#39; prefix which has
higher precedence.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DeliverySettingsType">
        <xs:sequence>
          <xs:element name="Callback" type="tns:DeliveryCallbackType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Contains the Webservice settings for a single invocation</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="EmailSettings" type="tns:DeliveryEmailSettingsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Contains email response settings</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TechnicalContact" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>You may provide an email address of the technical stuff 
responsible for this Webservice in case there are specific
error (like invocation of the callback service fails)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Extension" type="tns:DeliveryPropertyType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Optional request extension point.
Only handled upon bilateral agreement.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="test" type="xs:boolean" default="false" use="optional">
          <xs:annotation>
            <xs:documentation>If this flag is set to true, the upload is considered a
test-upload and will not be processed!</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="language" type="xs:string" default="de" use="optional">
          <xs:annotation>
            <xs:documentation>If ID of the language in which the returned messages should be 
printed. Currently supported are:
&#39;de&#39; - German
&#39;en&#39; - English</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:complexType>
      <xs:complexType name="DeliveryType">
        <xs:sequence>
          <xs:element name="Invoice" type="tns:DeliveryInvoiceType">
            <xs:annotation>
              <xs:documentation>Contains the main invoice to be uploaded.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="EmbeddedAttachment" type="tns:DeliveryEmbeddedAttachmentType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Optional attachments to be delivered together with the invoice.
Only certain file types are allowed: PDF, PNG, XLS, XLSX and XML</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExternalAttachment" type="tns:DeliveryExternalAttachmentType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Optional attachments to be downloaded by ER&gt;B together with the
invoice.
Only certain file types are allowed: PDF, PNG, XLS, XLSX and XML</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Settings" type="tns:DeliverySettingsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Optional settings that apply only to a single service call!</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DeliveryPrintableInvoiceType">
        <xs:simpleContent>
          <xs:extension base="xs:base64Binary">
            <xs:attribute name="mimetype" type="xs:string" use="required">
              <xs:annotation>
                <xs:documentation>The MIME type of the printable invoice.
For PDF this is &#39;application/pdf&#39;</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="originalsize" type="xs:unsignedInt" use="required">
              <xs:annotation>
                <xs:documentation>The size of the document in bytes before it was Base64 encoded</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="hashalgo" type="tns:DeliveryHashAlgorithmType" use="required">
              <xs:annotation>
                <xs:documentation>The algorithm used to calculate the hash value.</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="hashvalue" type="xs:string" use="required">
              <xs:annotation>
                <xs:documentation>The hash value of the document calculated with the algorithm
specified in the &#39;hashalgo&#39; attribute before it was Base64 encoded.
The hash value must be present as a hex-encoded string.</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="creation" type="xs:dateTime" use="optional">
              <xs:annotation>
                <xs:documentation>The date and time when the printable invoice was generated.
The time zone is always UTC.</xs:documentation>
              </xs:annotation>
            </xs:attribute>
          </xs:extension>
        </xs:simpleContent>
      </xs:complexType>
      <xs:complexType name="DeliverySuccessType">
        <xs:annotation>
          <xs:documentation>The delivery response success type.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="DocumentID" type="xs:string">
            <xs:annotation>
              <xs:documentation>The ER&gt;B internal document ID.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SupplierID" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The supplier ID (Lieferantennummer) as specified in the invoice.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SupplierEmail" type="xs:string" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>The email address(es) as specified in the invoice.
Each element contains a single email address.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SupplierInvoiceNumber" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The invoice number (Rechnungsnummer) as specified in the invoice.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="OrderID" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The complete order ID (Auftragsreferenz) as specified in the invoice.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PrintableInvoice" type="tns:DeliveryPrintableInvoiceType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Contains the printable version of the invoice delivery acknowledgement.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Extension" type="tns:DeliveryPropertyType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Optional success response extension point.
Only handled upon bilateral agreement.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DeliveryErrorDetailType">
        <xs:sequence>
          <xs:element name="ErrorCode" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The ER&gt;B internal error code for machine-processing.
See a separate list for details.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Field" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The field containing the error.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Message" type="xs:string">
            <xs:annotation>
              <xs:documentation>The main error message for the specified field.
This should contain a human readable text.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DeliveryErrorType">
        <xs:annotation>
          <xs:documentation>The delivery response error type.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="ErrorDetail" type="tns:DeliveryErrorDetailType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Contains all the single error messages.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Extension" type="tns:DeliveryPropertyType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Optional error response extension point.
Only handled upon bilateral agreement.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DeliveryResponseType">
        <xs:annotation>
          <xs:documentation>The global delivery response type.</xs:documentation>
        </xs:annotation>
        <xs:choice>
          <xs:element name="Success" type="tns:DeliverySuccessType">
            <xs:annotation>
              <xs:documentation>In case of success this elements is present</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Error" type="tns:DeliveryErrorType">
            <xs:annotation>
              <xs:documentation>In case of error this element is present</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:choice>
      </xs:complexType>
      <xs:complexType name="DeliveryExceptionType">
        <xs:annotation>
          <xs:documentation>The generic exception type in case something goes wrong in ER&gt;B.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="Message" type="xs:string" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>The human understandable exception message.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="deliverInvoiceInvoiceInput" type="tns:DeliveryType" />
      <xs:element name="deliverInvoiceInvoiceOutput" type="tns:DeliveryResponseType" />
      <xs:element name="deliverInvoiceInvoiceFault" type="tns:DeliveryExceptionType" />
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="deliverInvoiceRequest">
    <wsdl:documentation>Input part for method deliverInvoice</wsdl:documentation>
    <wsdl:part name="Invoice" element="tns:deliverInvoiceInvoiceInput" />
  </wsdl:message>
  <wsdl:message name="deliverInvoiceResponse">
    <wsdl:documentation>Output part for method deliverInvoice</wsdl:documentation>
    <wsdl:part name="Invoice" element="tns:deliverInvoiceInvoiceOutput" />
  </wsdl:message>
  <wsdl:message name="DeliverInvoiceFaultInvoice">
    <wsdl:documentation>Fault part &quot;Invoice&quot; for method deliverInvoice</wsdl:documentation>
    <wsdl:part name="Invoice" element="tns:deliverInvoiceInvoiceFault" />
  </wsdl:message>
  <wsdl:portType name="WSInvoiceDeliveryPort">
    <wsdl:documentation>SOAP portType WSInvoiceDelivery</wsdl:documentation>
    <wsdl:operation name="deliverInvoice">
      <wsdl:documentation>Assembled parts for method deliverInvoice</wsdl:documentation>
      <wsdl:input message="tns:deliverInvoiceRequest" />
      <wsdl:output message="tns:deliverInvoiceResponse" />
      <wsdl:fault message="tns:DeliverInvoiceFaultInvoice" name="DeliverInvoiceFaultInvoice" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSInvoiceDeliveryBinding" type="tns:WSInvoiceDeliveryPort">
    <wsdl:documentation>SOAP binding WSInvoiceDelivery</wsdl:documentation>
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="deliverInvoice">
      <wsdl:documentation>SOAP binding for method deliverInvoice</wsdl:documentation>
      <soap:operation soapAction="deliverInvoice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DeliverInvoiceFaultInvoice">
        <soap:fault use="literal" name="DeliverInvoiceFaultInvoice" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSInvoiceDeliveryService">
    <wsdl:documentation>SOAP service WSInvoiceDelivery</wsdl:documentation>
    <wsdl:port name="WSInvoiceDeliveryPort" binding="tns:WSInvoiceDeliveryBinding">
      <soap:address location="https://txm.portal.at/at.gv.bmf.erb/V2" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
