webservice-client/src/main/resources/WEB-INF/wsdl/erb-invoicedelivery-callback-100.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
This file was automatically generated by ph-wsdl-gen
https://github.com/phax/ph-wsdl-gen
-->
<wsdl:definitions targetNamespace="http://erb.eproc.brz.gv.at/ws/invoicedeliverycallback/201305/" name="WSInvoiceDeliveryCallbackService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://erb.eproc.brz.gv.at/ws/invoicedeliverycallback/201305/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:documentation>Defines the operations for the callback after uploading an invoice to ER&gt;B via WebService
    Author: Philip Helger
    Version: 1.0.0 - the String to be passed in the optional @version attribute in the main invoice delivery. 
    Last Update: 2013-05-15
    
    History: 
      1.0.0: Initial version
  </wsdl:documentation>
  <wsdl:types>
    <xs:schema targetNamespace="http://erb.eproc.brz.gv.at/ws/invoicedeliverycallback/201305/" elementFormDefault="qualified">
      <xs:simpleType name="CallbackHashAlgorithmType">
        <xs:annotation>
          <xs:documentation>Defines the possible hash algorithm types</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="MD5" />
          <xs:enumeration value="SHA-1" />
          <xs:enumeration value="SHA-256" />
          <xs:enumeration value="SHA-384" />
          <xs:enumeration value="SHA-512" />
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="CallbackPropertyType">
        <xs:simpleContent>
          <xs:extension base="xs:string">
            <xs:attribute name="name" type="xs:string" use="required">
              <xs:annotation>
                <xs:documentation>The name of this property.
Must be unique within all properties.</xs:documentation>
              </xs:annotation>
            </xs:attribute>
          </xs:extension>
        </xs:simpleContent>
      </xs:complexType>
      <xs:complexType name="CallbackPrintableInvoiceType">
        <xs:simpleContent>
          <xs:extension base="xs:base64Binary">
            <xs:attribute name="mimetype" type="xs:string" use="required">
              <xs:annotation>
                <xs:documentation>The MIME type of the printable invoice.
For PDF this is &#39;application/pdf&#39;</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="originalsize" type="xs:unsignedInt" use="required">
              <xs:annotation>
                <xs:documentation>The size of the document in bytes before it was Base64 encoded</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="hashalgo" type="tns:CallbackHashAlgorithmType" use="required">
              <xs:annotation>
                <xs:documentation>The algorithm used to calculate the hash value.</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="hashvalue" type="xs:string" use="required">
              <xs:annotation>
                <xs:documentation>The hash value of the document calculated with the algorithm
specified in the hashalgo attribute before it was Base64 encoded.
The hash value must be contains as a hex-encoded string.</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="creation" type="xs:dateTime" use="optional">
              <xs:annotation>
                <xs:documentation>The date and time when the printable invoice was generated.
The timezone is always UTC.</xs:documentation>
              </xs:annotation>
            </xs:attribute>
          </xs:extension>
        </xs:simpleContent>
      </xs:complexType>
      <xs:complexType name="CallbackErrorDetailType">
        <xs:sequence>
          <xs:element name="ErrorCode" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The ER&gt;B internal error code for machine-processing.
See a separate list for details.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Phase" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The ER&gt;B internal phase in which the error occurred.
E.g. global, transformation or validation.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Field" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The field containing the error.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Message" type="xs:string">
            <xs:annotation>
              <xs:documentation>The main error message for the specified field.
This should contain a human readable text.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CallbackType">
        <xs:annotation>
          <xs:documentation>The main callback type.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="DocumentID" type="xs:string">
            <xs:annotation>
              <xs:documentation>The ER&gt;B internal document ID to which this is the response to.
The same as stated in the synchronous invoice delivery response.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SupplierInvoiceNumber" type="xs:string">
            <xs:annotation>
              <xs:documentation>The invoice number (Rechnungsnummer) as specified in the invoice.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GovernmentDocumentNumber" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The internal document number of the government (Belegnummer).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="InvoiceDate" type="xs:date" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The official invoice date. This is the date of the original invoice acknowledgement.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PrintableInvoice" type="tns:CallbackPrintableInvoiceType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Contains the printable version of the invoice delivery acknowledgment.
Only present in case of success.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PassThrough" type="tns:CallbackPropertyType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Contains all callback properties as specified in the request.
They are contained in success and in error case.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ErrorDetail" type="tns:CallbackErrorDetailType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Contains the error details.
Only present in case of an error.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Extension" type="tns:CallbackPropertyType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Optional request extension point.
Only handled upon bilateral agreement.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="overallsuccess" type="xs:boolean" use="required">
          <xs:annotation>
            <xs:documentation>true if the invoice was correctly handled by ER&gt;B,
false if something went wrong.
This field is contained purely for an easy success/failure check.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="version" type="xs:string" use="required">
          <xs:annotation>
            <xs:documentation>The version number of the callback interface that is invoked.
This is constantly set in ER&gt;B.
This may depend on the requested callback version in the
original delivery.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:complexType>
      <xs:element name="deliverInvoiceCallbackInvoiceInput" type="tns:CallbackType" />
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="deliverInvoiceCallbackRequest">
    <wsdl:documentation>Input part for method deliverInvoiceCallback</wsdl:documentation>
    <wsdl:part name="Invoice" element="tns:deliverInvoiceCallbackInvoiceInput" />
  </wsdl:message>
  <wsdl:portType name="WSInvoiceDeliveryCallbackPort">
    <wsdl:documentation>SOAP portType WSInvoiceDeliveryCallback</wsdl:documentation>
    <wsdl:operation name="deliverInvoiceCallback">
      <wsdl:documentation>Assembled parts for method deliverInvoiceCallback</wsdl:documentation>
      <wsdl:input message="tns:deliverInvoiceCallbackRequest" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSInvoiceDeliveryCallbackBinding" type="tns:WSInvoiceDeliveryCallbackPort">
    <wsdl:documentation>SOAP binding WSInvoiceDeliveryCallback</wsdl:documentation>
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="deliverInvoiceCallback">
      <wsdl:documentation>SOAP binding for method deliverInvoiceCallback</wsdl:documentation>
      <soap:operation soapAction="deliverInvoiceCallback" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSInvoiceDeliveryCallbackService">
    <wsdl:documentation>SOAP service WSInvoiceDeliveryCallback</wsdl:documentation>
    <wsdl:port name="WSInvoiceDeliveryCallbackPort" binding="tns:WSInvoiceDeliveryCallbackBinding">
      <!--FIXME Dummy endpoint address - to be modified!-->
      <soap:address location="http://www.example.org/ws" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
